.profile-container {
  height: 50px;
  background-color: var(--bg-dark-accent);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.profile-container > div:nth-child(1) {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.profile-container > div:nth-child(2) {
  font-weight: 500;
  flex: 1;
  padding-right: 10px;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any overflow content */
  text-overflow: ellipsis; /* Display '...' for overflowed text */
}
