.register-main {
  display: flex;
  background-color: white;
  height: 100dvh;
  position: relative;
}
.brand {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--bg-dark-primary);
}

.register-bg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-bg img {
  width: 75%;
}

.rg-form-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  /* background-color: #f0fcfa; */
  border: 2px solid #c9fbf2;
  height: 60%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.register-header {
  font-size: 1.5rem;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 18rem;
}

.register-form input {
  border: none;
  background-color: #e0f9f4;
  font-family: inherit;
  font-size: 0.9rem;
  height: 2rem;
  padding: 0px 10px;
  border-radius: 5px;
}

.register-form button {
  border: none;
  background-color: #00898d;
  color: white;
  font-family: inherit;
  font-weight: 600;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-account-section {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: right;
  margin: 20px 0px;
}

.login-account-section button {
  border: none;
  background-color: white;
  color: #00898d;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: inherit;
}
